.password-change-container {
  height: 330px;
  background-color: var(--dark-8);
  padding: 15px;
  border-radius: 16px;
  margin-bottom: 100px;

  .eye-icon {
    color: var(--white-1);
    vertical-align: middle;
    margin-left: 5px;
  }

  .btn-group {
    float: left;

    .update {
      display: inline-block;
      font-weight: 700;
      padding: 8px 14px;
      line-height: 1.5;
      background-color: var(--dark-8);
      border: 2px solid var(--accent-4);
      color: var(--accent-4);
      font-size: 14px;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      margin-right: 5px;

      &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}
