.photos-container {
  max-width: 1152px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;

  .gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, 352px);
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
    background-color: var(--dark-8);
    padding: 24px;
    border-radius: 16px;

    .empty-post-div {
      display: none;
    }
  }
}
